/* src/styles/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.search-bar {
  border: #9e9d9d 1px solid;
}

.search-bar:focus-within {
  border: #A5D6A7 4px solid;
}

.search-input:focus {
  outline: none;
  border: none;
}

.search-icon {
  border: none;
  background: none;
  outline: none;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Adjust as per image */
  text-decoration: none;
}

.logo a:hover {
  color: #43A047; /* Adjust as per image */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-left: 30px;
}

.navbar a {
  text-decoration: none;
  color: #555; /* Adjust as per image */
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #43A047; /* Adjust as per image */
}

.join-button {
  background-color: #43A047; /* Adjust as per image */
  color: white !important;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.join-button:hover {
  background-color: #2E7D32; /* Darker shade on hover */
}